:root {
    --primary-color: #333;
    --secondary-color: #666;
    --bg-color: #f8f8f8;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.swiper-parent {
    overflow-x: hidden;
}
.swiper-container {
    width: 100%;
    padding: 20px 0;
    position: relative;
}
.swiper-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.swiper-slide {
    text-align: center;
    width: 250px;
    flex-shrink: 0;
}
.review {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}
.review img {
    max-width: 100%;
    height: auto;
}
.review h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0 0;
}
.previous-button,
.next-button {
    background-color: var(--primary-color);
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.previous-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.previous-button:hover,
.next-button:hover {
    background-color: var(--secondary-color);
}

.previous-button::after,
.next-button::after {
    font-size: 18px;
    font-weight: bold;
}


.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto; 
}

.swiper-pagination-bullet {
    background-color: var(--secondary-color);
    opacity: 1;
    width: 8px; 
    height: 8px; 
    margin: 0 5px; 
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

.product-list,
.store-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
.search-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#search {
    padding: 12px;
    width: 300px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    padding: 12px 24px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#search-button:hover {
    background-color: var(--secondary-color);
}
.advertisement-carousel{
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto; 
    overflow: hidden;
}


.advertisement-carousel img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}
.swiper-pagination-bullet {
    background-color: var(--primary-color);
}
.category-menu {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-menu ul {
    list-style-type: none;
    padding: 0;
}

.category-menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.category-menu ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.category-menu ul li a:hover {
    background-color: var(--primary-color);
    color: #fff;
}